
#popup_back{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.7;
    z-index:98;
    display: none;

}

#popup_div{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width:450px;
    height: 350px;
    z-index:99;
    background-color:white;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    font: 15px verdana;
    padding:5px;
     line-height: 20px;
   color:black;
   border:8px solid black;
}

#popup_close{
    border:1px solid gray;
    float:right;
    margint:3px 3px 0 0;
    padding:0px 3px;
    cursor:pointer;
   

}

#popup_logo{
    width:120px;
    height: 120px;
    margin: 0 auto;
}

#popup_logo img{
    width: 120px;
    height: 120px;
    margin:0;
}

#popup_category{
    font-size:16px;
}
#popup_ad {
 
    width: 100px;
    height: 40px;
    margin:10px auto;
}
#popup_ad img{
    width: 88px;
    height: 31px;
   margin:0;
}

#popup_info{
    min-height: 100x;
    max-height: 120px;
    padding: 10px;
    

}

.clear{
    clear:both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.popup_spacer{
    margin-left: 150px;
    margin-top: 5px;
}

